<mat-toolbar [color]="'primary'">
  <span></span>
  <span>Trainingspläne</span>
  <span></span>
</mat-toolbar>
<div class="page">
  <div class="cards">
    <app-card-training *ngFor="let workout of workouts$ | async" [workout]="workout" (deleted)="refreshWorkouts.emit()"></app-card-training>
  </div>

  <button 
    class="add-button" 
    mat-fab color="primary" 
    #tooltip="matTooltip"
    matTooltip="Neues Training erstellen"
    [matTooltipPosition]="'left'"
    (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>