<div *ngIf="workout$ | async as workout">
  <form [formGroup]="completionForm">
    <mat-toolbar [color]="'primary'">
      <a mat-icon-button [routerLink]="'/trainings'"><mat-icon>arrow_back</mat-icon></a>
      <span>"{{workout.name}}" durchführen</span>
    </mat-toolbar>

    <!-- <h2>{{workout.name}}</h2> -->

    <mat-stepper labelPosition="bottom" #stepper [formArrayName]="'exercises'">
      <mat-step 
        *ngFor="let exercise of exercises$ | async; let first = first; let last = last; index as i"
        [label]="exercise.data().name"
        [formGroupName]="i">

        <!-- [stepControl]="getExerciseFormGroup(i)" -->

        <div class="exercise-form">
          <mat-form-field>
            <mat-label>Tempo</mat-label>
            <input matInput [formControlName]="'tempo'">
          </mat-form-field>

          <mat-form-field>
            <mat-label>ROM</mat-label>
            <input matInput [formControlName]="'rom'">
          </mat-form-field>

          <ng-container *ngIf="pause$ | async as pause">
            <button *ngIf="pause.remainingTime" mat-fab extended [color]="'accent'" (click)="pauseIsRunning.emit(!pause.isRunning)">
              <mat-icon *ngIf="!pause.isRunning">schedule</mat-icon>
              <mat-icon *ngIf="pause.isRunning">restore</mat-icon>
              {{pause.remainingTime}} Sek.
            </button>
          </ng-container>
        </div>

        <app-exercise-table [formControlName]="'sets'" [placholderData]="exercise.data().sets"></app-exercise-table>

        <div class="navigation">
          <button *ngIf="!first" mat-stroked-button [color]="'primary'" matStepperPrevious>Zurück</button>
          <button *ngIf="!last" class="next" mat-raised-button [color]="'primary'" matStepperNext>Weiter</button>
          <button *ngIf="last" class="next" mat-raised-button [color]="'primary'" (click)="submit()">Abschliessen</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>