<h1>Push</h1>
<mat-stepper labelPosition="bottom" #stepper>
  <mat-step [label]="'Pushups'" optional>
    <table mat-table [dataSource]="pushups" class="mat-elevation-z8">
      <ng-container matColumnDef="set">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.set}} </td>
      </ng-container>
    
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Gewicht </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput value="40">
            <span matSuffix>kg</span>
          </mat-form-field> 
        </td>
      </ng-container>
    
      <ng-container matColumnDef="reps">
        <th mat-header-cell *matHeaderCellDef> Wiederholungen </th>
        <td mat-cell *matCellDef="let element"> {{element.reps}} </td>
      </ng-container>

      <ng-container matColumnDef="pause">
        <th mat-header-cell *matHeaderCellDef> Pause </th>
        <td mat-cell *matCellDef="let element"> {{element.pause}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button mat-icon-button>
      <mat-icon>remove</mat-icon>
    </button>
    <mat-chip>Sätze</mat-chip>
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>

    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step [label]="'Squats'" optional>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>