::ng-deep {
  .mat-horizontal-stepper-header-container {
    overflow-x: auto;
  }

  .mat-horizontal-stepper-header {
    min-width: fit-content;
  }

  .mat-horizontal-stepper-wrapper .mat-horizontal-content-container {
    padding: 12px;
  }

  .mat-mdc-text-field-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-table {
    .mdc-data-table__cell, .mdc-data-table__header-cell {
      padding: 12px;
    }
  }

  mat-toolbar span{
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.mat-column-set {
  max-width: 24px;
}

.mat-column-weight {
  max-width: 50px;
}

mat-form-field {
  width: 100%
}

.exercise-form {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  column-gap: 12px;
  align-items: center;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  margin-top: 12px;

  .next {
    grid-column-start: 2;
  }
}