.add-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem; 
}

::ng-deep mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: .5rem;
  padding-bottom: 6rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.workout-form {
  display: grid;
  grid-template-columns: calc(60% - 6px) calc(40% - 6px);
  column-gap: 12px;
}

.exercise-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;

  mat-form-field:first-child {
    grid-column: span 2;
  }
}